.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #FC600A;
}

.App-link:visited {
  color: #FC600A;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-nav-header{
  display: flex; 
  align-items: center;
  flex-wrap: wrap;
  text-decoration: none;
  background-color: #347B98;
}

.nav-title{
  text-decoration: none;
  flex-grow: 2;
  align-self: flex-start;
  text-align: center;
}

.nav-list{
  text-decoration: none;
  flex-shrink: 0;
  text-align: center;
  width: 100%;
  margin: 0px 0px;
  padding: 20px 0px;
}
.nav-list li{
  display: inline-block;
  margin: 0px 20px;
}

.nav-item a:hover{
  color:#F7E0D4;
}

a{
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
a:visited{
  text-decoration: none;
  color: none;
}

a:-webkit-any-link {
  color: inherit;
}

@media all and (min-width: 768px){
  .nav-title{
      text-align: left;
      width: 60%;
      padding: 0px 20px;
  }
  .nav-list{
    text-decoration: none;
    flex-shrink: 0;
    text-align: center;
    width: 30%;
    margin: 0px 0px;
    padding: 0%;
  }
  .app-nav-header{
    flex-wrap: none;
  }
}